:root {
  --vt-c-white: #ffffff;
  --bg-c-neutro: #7f7f7f9b;
  --bg-c-sad: #404E4D;
  --bg-c-poker-face: #8bceeb;
  --bg-c-happy: #FDE74C;

  --color-text: rgba(0, 0, 0, 0.4)
}

body {
  min-height: 100vh;
  background: var(--color-background);
  line-height: 1.6;
  font-family: sans-serif;
  font-size: 15px;
}
* {
  margin: 0;
  padding: 0;
}
